{{ form_start(form) }}
<table class="table table-responsive-xl table-borderless">
    <tbody>
    <tr>
        <td class="col-form-label">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
        </td>
        <td>
            {{ form_widget(form.name) }}
        </td>
    </tr>
    <tr>
        <td class="col-form-label">
            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
        </td>
        <td>
            {{ form_widget(form.title) }}
        </td>
    </tr>
    <tr>
        <td class="col-form-label">
            {{ form_label(form.image) }}
            {{ form_errors(form.image) }}
        </td>
        <td>
            {% if form.image.vars.data %}
                <div class="col-3 pull-left text-center padding-0">
                    <img src="{{ asset(form.image.vars.data) }}" style="max-width: 100px;max-height: 100px;" alt="{{ intervenant.name }}" title="{{ intervenant.name }}"/>
                </div>
            {% endif %}
            <div class="{% if form.image.vars.data %}col-9{% else %}col-12{% endif%} pull-right padding-0">
                {{ form_widget(form.image) }}
            </div>
        </td>
    </tr>
    <tr>
        <td class="col-form-label">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
        </td>
        <td>
            {{ form_widget(form.description) }}
        </td>
    </tr>
    <tr><td colspan="2"></td></tr>
    <tr><td colspan="2"></td></tr>
    <tr>
        <td class="submit" colspan="2">
            <a href="{{ path('app_admin_intervenants') }}" class="btn btn-light form-action-button">{{ 'Quit'|trans }}</a>
            <button type="submit" class="btn btn-success form-action-button">{{ 'Save'|trans }}</button>
        </td>
    </tr>
    </tbody>
</table>
{{ form_end(form) }}