{% extends 'admin/base.html.twig' %}

{% set active_menu = 'users' %}
{% set route = app.request.attributes.get('_route') %}

{% block title %}{{ 'Users'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('users') }}
{% endblock %}

{% block header_buttons %}
    <button class="btn navbar-btn btn-primary float-right toggle-button header-action-button" data-target="filter-panel" title="{{ 'Search'|trans }}">
        <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
        {{ 'Search'|trans }}
    </button>
    <a href="{{ path('app_admin_register') }}" class="btn navbar-btn btn-success float-right header-action-button" title="{{ 'Create user'|trans }}">
        <span class="oi oi-plus" aria-hidden="true"></span>
        {{ 'Create user'|trans }}
    </a>
{% endblock %}

{% block content %}
    <div class="row" style="display: none;" id="filter-panel">
        {% include 'admin/users/Blocks/filterForm.html.twig' %}
    </div>
    <h1>{{ 'Users list'|trans }}</h1>
    <a href="{{ path('app_admin_users') }}" class="btn navbar-btn btn-outline-dark float-right margin-bottom-10" title="{{ 'Reinitialize filters'|trans }}">
        <span class="oi oi-x" aria-hidden="true"></span>
        {{ 'Reinitialize filters'|trans }}
    </a>
    <table class="table table-responsive-xl table-bordered">
        <thead>
            <tr>
                <th class="col-number">
                    <a href="
                    {{ path(route, app.request.query.all|merge(
                        {
                            'sort': 'id',
                            'direction': sortField is same as('id') and sortDirection is same as('ASC') ? 'DESC' : 'ASC'
                        }
                    )) }}">
                        {{ 'ID'|trans }}{% include 'admin/Blocks/sorting.html.twig' with { 'field': 'id' } %}
                    </a>
                </th>
                <th>
                    <a href="
                    {{ path(route, app.request.query.all|merge(
                        {
                            'sort': 'username',
                            'direction': sortField is same as('username') and sortDirection is same as('ASC') ? 'DESC' : 'ASC'
                        }
                    )) }}">
                        {{ 'Username'|trans }}{% include 'admin/Blocks/sorting.html.twig' with { 'field': 'username' } %}
                    </a>
                </th>
                <th>
                    <a href="
                    {{ path(route, app.request.query.all|merge(
                        {
                            'sort': 'email',
                            'direction': sortField is same as('city') and sortDirection is same as('ASC') ? 'DESC' : 'ASC'
                        }
                    )) }}">
                        {{ 'Email'|trans }}{% include 'admin/Blocks/sorting.html.twig' with { 'field': 'email' } %}
                    </a>
                </th>
                <th>
                    {{ 'Roles'|trans }}{% include 'admin/Blocks/sorting.html.twig' with { 'field': 'roles' } %}
                </th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in pager.currentPageResults %}
            <tr>
                <td class="col-number">#{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles|join('<br />') }}</td>
                <td class="col-actions">
                    <a href="{{ path('app_admin_users_edit', { 'id': user.id }) }}" class="btn btn-primary table-action-button" title="{{ 'Edit'|trans }}">
                        <span class="oi oi-pencil" aria-hidden="true"></span>
                    </a>
                    <a href="#" data-href="{{ path('app_admin_users_edit', { 'id': user.id }) }}" class="btn btn-danger table-action-button" title="{{ 'Delete'|trans }}" data-toggle="modal" data-target="#confirm-delete">
                        <span class="oi oi-trash" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if pager.nbPages > 1 %}
        <div class="pagerfanta">
            {{ pagerfanta(pager, 'twitter_bootstrap4') }}
        </div>
    {% endif %}
{% endblock %}

{% block modal %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'Confirm delete'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ 'Are you sure you want to delete?'|trans }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <a class="btn btn-danger btn-ok">{{ 'Delete'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('users') }}
{% endblock %}
