{% extends 'admin/base.html.twig' %}

{% set active_menu = 'formations' %}
{% set container_class = 'container-sm' %}

{% block title %}{{ 'Create formation'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('formations') }}
{% endblock %}

{% block content %}
    <h1>{{ 'Create formation'|trans }}</h1>
    {% include 'admin/formations/Blocks/form.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('formations') }}
{% endblock %}
