{% import 'admin/formations/macros/formationLinked.html.twig' as formMacros %}
{% extends 'admin/base.html.twig' %}

{% set active_menu = 'formations' %}
{% set container_class = 'container-sm' %}
{% set route = app.request.attributes.get('_route') %}
{% set routeParams = app.request.attributes.get('_route_params') %}

{% block title %}{{ 'Edit formation formations linked'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('formations') }}
{% endblock %}

{% block content %}
    <h1>{{ 'Edit formation formations linked'|trans }}</h1>
    <h3><em>Formation : {{ formation.title }}</em></h3>

    <table class="table table-responsive-xl table-bordered">
        <thead>
        <tr>
            <th class="col-number">
                <a href="
                    {{ path(route, routeParams|merge(app.request.query.all)|merge(
                    {
                        'sort': 'id',
                        'direction': sortField is same as('id') and sortDirection is same as('ASC') ? 'DESC' : 'ASC'
                    }
                )) }}">
                    {{ 'ID'|trans }}{% include 'admin/Blocks/sorting.html.twig' with { 'field': 'id' } %}
                </a>
            </th>
            <th>
                <a href="
                    {{ path(route, routeParams|merge(app.request.query.all)|merge(
                    {
                        'sort': 'title',
                        'direction': sortField is same as('title') and sortDirection is same as('ASC') ? 'DESC' : 'ASC'
                    }
                )) }}">
                    {{ 'Title'|trans }}{% include 'admin/Blocks/sorting.html.twig' with { 'field': 'title' } %}
                </a>
            </th>
            <th>{{ 'Actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
            {% for formationLinked in formationFormationsLinked %}
                {{ formMacros.printFormationLinkedRow(formationLinked, formation) }}
            {% endfor %}
        </tbody>
    </table>
    {% if 0 < addFormationLinkedForm.children.formationLinked.vars.choices|length %}
    {{ form_start(addFormationLinkedForm, {'method': 'POST', 'action': path('app_admin_formations_formations_link', {'id': formation.id})}) }}
        <table class="table table-responsive-xl table-borderless">
            <tbody>
                <tr>
                    <td colspan="2"><h5>{{ 'Link a formation to formation'|trans }}</h5></td>
                </tr>
                <tr>
                    <td>
                        {{ form_widget(addFormationLinkedForm.formationLinked) }}
                    </td>
                    <td>
                        <button
                                type="submit"
                                class="add_formation_formation_link btn btn-success form-action-button"
                                title="{{ 'Link a formation to formation'|trans }}"
                        >
                            <span class="oi oi-link-intact" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    {{ form_end(addFormationLinkedForm) }}
    {% endif %}
    <table class="table table-responsive-xl table-borderless">
        <tbody>
            <tr><td colspan="2"></td></tr>
            <tr><td colspan="2"></td></tr>
            <tr>
                <td colspan="2" class="text-center">
                    <a href="{{ path('app_admin_formations') }}" class="btn btn-light form-action-button">{{ 'Quit'|trans }}</a>
                    <a href="{{ path('app_admin_formations_edit', {'id': formation.id}) }}" class="btn btn-primary form-action-button">{{ 'Back to Edit formation'|trans }}</a>
                    <a href="{{ path('app_admin_formations') }}" class="btn btn-success form-action-button">{{ 'Terminate'|trans }}</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('formations') }}
{% endblock %}

{% block modal %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'Confirm delete'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ 'Are you sure you want to delete?'|trans }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <a class="btn btn-danger btn-ok">{{ 'Delete'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
