<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Nos formations</h2>
            <p>{{ content.formationsBlockSubtitle|raw }}</p>
        </div>

        <div class="row">
            {% if domains[0] is defined %}
            <a href="{{ path('app_front_domain', {'slug': domains[0].slug}) }}" class="col-lg-4 col-md-6 d-flex align-items-stretch domain-box">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-heart-beat bx {% if domains[0].icon %} bxl-{{ domains[0].icon }} bxs-{{ domains[0].icon }} bx-{{ domains[0].icon }}{% else %}bxl-ok-ru{% endif %}"></i></div>
                    <h4>{{ domains[0].title }}</h4>
                    {%  if domains[0].excerpt is not empty %}<p>{{ domains[0].excerpt }}</p>{% endif %}
                </div>
            </a>
            {% endif %}

            {% if domains[1] is defined %}
            <a href="{{ path('app_front_domain', {'slug': domains[1].slug}) }}" class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 domain-box">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-drug bx {% if domains[1].icon %} bxl-{{ domains[1].icon }} bxs-{{ domains[1].icon }} bx-{{ domains[1].icon }}{% else %}bxl-spring-boot{% endif %}"></i></div>
                    <h4>{{ domains[1].title }}</h4>
                    {%  if domains[1].excerpt is not empty %}<p>{{ domains[1].excerpt }}</p>{% endif %}
                </div>
            </a>
            {% endif %}

            {% if domains[2] is defined %}
            <a href="{{ path('app_front_domain', {'slug': domains[2].slug}) }}" class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 domain-box">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-dna-alt-2 bx {% if domains[2].icon %} bxl-{{ domains[2].icon }} bxs-{{ domains[2].icon }} bx-{{ domains[2].icon }}{% else %}bxl-firebase{% endif %}"></i></div>
                    <h4>{{ domains[2].title }}</h4>
                    {%  if domains[2].excerpt is not empty %}<p>{{ domains[2].excerpt }}</p>{% endif %}
                </div>
            </a>
            {% endif %}

            {% if domains[3] is defined %}
            <a href="{{ path('app_front_domain', {'slug': domains[3].slug}) }}" class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 domain-box">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-heartbeat bx {% if domains[3].icon %} bxl-{{ domains[3].icon }} bxs-{{ domains[3].icon }} bx-{{ domains[3].icon }}{% else %}bxl-python{% endif %}"></i></div>
                    <h4>{{ domains[3].title }}</h4>
                    {%  if domains[3].excerpt is not empty %}<p>{{ domains[3].excerpt }}</p>{% endif %}
                </div>
            </a>
            {% endif %}

            {% if domains[4] is defined %}
            <a href="{{ path('app_front_domain', {'slug': domains[4].slug}) }}" class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 domain-box">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-disabled bx {% if domains[4].icon %} bxl-{{ domains[4].icon }} bxs-{{ domains[4].icon }} bx-{{ domains[4].icon }}{% else %}bx-pyramid{% endif %}"></i></div>
                    <h4>{{ domains[4].title }}</h4>
                    {%  if domains[4].excerpt is not empty %}<p>{{ domains[4].excerpt }}</p>{% endif %}
                </div>
            </a>
            {% endif %}

            <a href="{{ path('app_front_formations') }}" class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 domain-box">
                <div class="icon-box all">
                    <div class="icon"><i class="icofont-autism bx bx-meteor"></i></div>
                    <h4>Toutes les formations</h4>
                </div>
            </a>

        </div>

    </div>
</section>