<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Nos formations</h2>
            <p>{{ content.formationsBlockSubtitle|raw }}</p>
        </div>

        <div class="row">
            <a href="{{ path('app_front_domain', {'slug': domains[0].slug}) }}" class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-heart-beat bx {% if domains[0].icon %} bxl-{{ domains[0].icon }} bxs-{{ domains[0].icon }} bx-{{ domains[0].icon }}{% else %}bxl-ok-ru{% endif %}"></i></div>
                    <h4>{% if domains[0] is defined %}{{ domains[0].title }}{% endif %}</h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
            </a>

            <a href="{{ path('app_front_domain', {'slug': domains[1].slug}) }}" class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-drug bx {% if domains[1].icon %} bxl-{{ domains[1].icon }} bxs-{{ domains[1].icon }} bx-{{ domains[1].icon }}{% else %}bxl-spring-boot{% endif %}"></i></div>
                    <h4>{% if domains[1] is defined %}{{ domains[1].title }}{% endif %}</h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                </div>
            </a>

            <a href="{{ path('app_front_domain', {'slug': domains[2].slug}) }}" class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-dna-alt-2 bx {% if domains[2].icon %} bxl-{{ domains[2].icon }} bxs-{{ domains[2].icon }} bx-{{ domains[2].icon }}{% else %}bxl-firebase{% endif %}"></i></div>
                    <h4>{% if domains[2] is defined %}{{ domains[2].title }}{% endif %}</h4>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                </div>
            </a>

            <a href="{{ path('app_front_domain', {'slug': domains[3].slug}) }}" class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-heartbeat bx {% if domains[3].icon %} bxl-{{ domains[3].icon }} bxs-{{ domains[3].icon }} bx-{{ domains[3].icon }}{% else %}bxl-python{% endif %}"></i></div>
                    <h4>{% if domains[3] is defined %}{{ domains[3].title }}{% endif %}</h4>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                </div>
            </a>

            <a href="{{ path('app_front_domain', {'slug': domains[4].slug}) }}" class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-disabled bx {% if domains[4].icon %} bxl-{{ domains[4].icon }} bxs-{{ domains[4].icon }} bx-{{ domains[4].icon }}{% else %}bx-pyramid{% endif %}"></i></div>
                    <h4>{% if domains[4] is defined %}{{ domains[4].title }}{% endif %}</h4>
                    <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
                </div>
            </a>

            <a href="{{ path('app_front_formations') }}" class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box all">
                    <div class="icon"><i class="icofont-autism bx bx-meteor"></i></div>
                    <h4>Toutes les formations</h4>
                </div>
            </a>

        </div>

    </div>
</section>