{% macro printIntervenantRow(intervenant, formation) %}
    <tr>
        <td>
            {{ intervenant.id }}
        </td>
        <td>
            {{ intervenant.name }}
        </td>
        <td>
            {{ intervenant.title }}
        </td>
        <td class="col-actions">
            <a href="#" data-href="{{ path('app_admin_formations_intervenants_unlink', { 'id': formation.id, 'intervenantId': intervenant.id }) }}" class="btn btn-danger table-action-button" title="{{ 'Delete'|trans }}" data-toggle="modal" data-target="#confirm-delete">
                <span class="oi oi-trash" aria-hidden="true"></span>
            </a>
        </td>
    </tr>
{% endmacro %}