{% extends 'admin/base.html.twig' %}

{% set active_menu = 'domains' %}
{% set container_class = 'container-sm' %}

{% block title %}{{ 'Edit domain'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('domains') }}
{% endblock %}

{% block content %}
    <h1>{{ 'Edit domain'|trans }}</h1>
    <h3><em>Domain : {{ domain.title }}</em></h3>
    {% include 'admin/domains/Blocks/form.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('domains') }}
{% endblock %}
